@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

/* ------------------------------
   Dark Mode Support
------------------------------ */
@custom-variant dark (&:where(.dark, .dark *));

/* ------------------------------
   Global Styles
------------------------------ */
* {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  cursor: none; /* Using custom cursor */
}

/* ------------------------------
   Theme Colors
------------------------------ */
@theme {
  --color-primary: #5044E5;
}
.whatsapp-float {
  position: fixed;         /* always stick */
  bottom: 20px;            /* distance from bottom */
  right: 20px;             /* distance from right */
  z-index: 1000;           /* stays on top */
}

.whatsapp-float img {
  border-radius: 50%;      /* round button */
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
}

.whatsapp-float img:hover {
  transform: scale(1.1);   /* little zoom on hover */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE */
  scrollbar-width: none;  /* Firefox */
}
